/* HTML5 Slideshow by Rob Flaherty 
    http://github.com/robflaherty/html-slideshow
    Adapted for the BBC by Olivier Thereaux <olivier.thereaux@bbc.co.uk>
*/

body{ background:#fff; color: #333; font-family: 'Gill Sans' , Arial, Helvetica; }
#deck h1 {  font-size: 50px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); 
    font-weight: 100; margin: 2em 0 1.5em 0; text-align: center;}
#deck h1.keepAtTop {margin: .5em 0;}
#deck .solo { color: #333; font-size: 50px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); 
        font-weight: 100; text-align: center; margin: 2em 0 1.5em 0;}
#deck h1#firstTitle { font-family: Cochin, Times;}
p.bigPic {width: 100%; padding: 15px; text-align: center;}
p.bigPic img {margin: auto;}
#deck h2 { font-size: 30px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
#deck p, #deck li { font-size: 25px; color: #555; font-weight: 300; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
#deck li {line-height: 200%;}
footer {position: fixed; bottom:0; width: 100%; margin:0; padding: .5em; background: #212121; color: white;} 
#footerCredits {display: inline; font-weight: 100; font-size: 16px; float: left; padding-left: 0;}
#footerCredits img {display: inline; vertical-align: middle; padding-bottom: 3px;}
#footerDate {font-size: 18px;
font-weight: 100;  display: inline; font-size: 18px;
font-weight: 100; font-size: 16px; float: right; padding: 3px 1em;}